<div class="w-full flex-1 mt-[24px]">
	<h2 class="font-bold text-2xl md:text-3xl m-0 p-0">Recommendations</h2>
	<div class="recommendation-list w-full pt-4" id="recommendations">
		<div class="recommendation-item">
			<a class="scroll" href="#pageSize58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Reduce your total Page File Size</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">Performance</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px] ml-auto">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light-warning text-nowrap">Medium Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#hasH1Header58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Add H1 Header Tag</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">On-Page SEO</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light-warning text-nowrap">Medium Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#keywords58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Use your main keywords across the important HTML Tags</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">On-Page SEO</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#hasFriendlyUrl58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Update Link URLs to be more readable</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">Links</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#hasImageWithoutAlt58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Add Alt Attributes to all images</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">On-Page SEO</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#contentCount58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Increase Page Text Content</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">On-Page SEO</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#hasEmail58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Remove Clear Text Email Addresses</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">Usability</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#hasInlineCss58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Remove Inline Styles</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">Performance</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#hasYoutube58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Create and link an associated YouTube Channel</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">Social</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#hasSchemaOrg58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Add Schema Markup</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">On-Page SEO</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#hasTwitterTags58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Add X Cards</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">Social</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="recommendation-item">
			<a class="scroll" href="#localBusinessSchema58774636">
				<div class="card-box w-full flex flex-col md:flex-row items-start md:items-center border-b-[1px] border-dashed border-primaryStroke py-2 rounded-sm">
					<div class="flex-1 px-[8px] sm:px-[12px]">
						<div class="text-sm sm:text-[14px]">
							<h5 class="mt-0 mb-0"><span class="font-medium text-[#7A819B]">Add Local Business Schema</span></h5>
						</div>
					</div>
					<div class="w-full flex-0 mt-3 md:mt-0 flex items-center justify-between md:justify-end gap-[4px]">
						<div class="flex-0">
							<span class="badge py-2 px-3 text-xs leading-3 rounded-sm badge-light text-nowrap">Other</span>
						</div>
						<div class="flex-0 text-end px-[8px] sm:px-[12px]">
							<span class="badge badge-light-success py-2 px-3 text-xs leading-3 rounded-sm text-nowrap">Low Priority</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>