<div class="w-full pt-4">
	<table class="table table-row-dashed table-fluid mb-0">
		<thead>
			<tr>
				<th class="text-sm md:text-[14px]" width="100%">Page</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/about-us">/about-us</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog">/blog</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/5-quick-things-you-can-do-right-away-to-boost-your-year-end-appeals">/blog/5-quick-things-you-can-do-right-away-to-boost-your-year-end-appeals</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/all-you-need-to-know-about-giving-tuesday">/blog/all-you-need-to-know-about-giving-tuesday</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/comparing-nonprofit-and-for-profit-organizations-key-differences-uncovered">/blog/comparing-nonprofit-and-for-profit-organizations-key-differences-uncovered</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/complete-guide-to-cross-sector-partnerships-for-nonprofits">/blog/complete-guide-to-cross-sector-partnerships-for-nonprofits</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/grant-writing-tips-for-nonprofits-securing-funding-for-your-cause">/blog/grant-writing-tips-for-nonprofits-securing-funding-for-your-cause</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/how-to-utilize-social-media-effectively-for-your-nonprofit">/blog/how-to-utilize-social-media-effectively-for-your-nonprofit</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/key-differences-between-strategic-and-operational-plans">/blog/key-differences-between-strategic-and-operational-plans</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/nonprofit-sustainability-how-to-plan-for-long-term-success">/blog/nonprofit-sustainability-how-to-plan-for-long-term-success</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/revolutionizing-impact:-the-future-of-ai-for-nonprofits-in-2025">/blog/revolutionizing-impact:-the-future-of-ai-for-nonprofits-in-2025</a></td>
			</tr>
			<tr>
				<td><a class="text-sm md:text-[14px] no-link-pdf" href="/missio.io/blog/the-art-of-storytelling-an-effective-strategy-for-nonprofits">/blog/the-art-of-storytelling-an-effective-strategy-for-nonprofits</a></td>
			</tr>
		</tbody>
	</table>
</div>