<div class="w-full pt-4">
	<div class="table-part table-responsive">
		<table class="table table-row-dashed" style="width: 100%">
			<thead>
				<tr>
					<th class="text-sm md:text-[14px]" style="width: 50%">URL</th>
					<th class="text-sm md:text-[14px]" style="width: 12%">Backlinks</th>
					<th class="text-sm md:text-[14px]" style="min-width: 170px"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://www.missio.io/">https://www.missio.io/</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">276</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 100%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://missio.io/">https://missio.io/</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">51</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 18.478260869565215%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://www.missio.io/content/data-services">https://www.missio.io/content/data-services</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">4</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 1.4492753623188406%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://www.missio.io/content/implementation-services">https://www.missio.io/content/implementation-services</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">2</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 0.7246376811594203%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://www.missio.io/content/website-content-management">https://www.missio.io/content/website-content-management</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">2</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 0.7246376811594203%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://www.missio.io/content/volunteer-management">https://www.missio.io/content/volunteer-management</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">2</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 0.7246376811594203%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://missio.io/details/tips-for-raising-more-money-at-fundraising-e...">https://missio.io/details/tips-for-raising-more-money-at-fundraising-e...</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">2</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 0.7246376811594203%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://www.missio.io/content/online-store">https://www.missio.io/content/online-store</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">2</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 0.7246376811594203%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://www.missio.io/system/dealreg">https://www.missio.io/system/dealreg</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">2</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 0.7246376811594203%"></span></div>
					</td>
				</tr>
				<tr>
					<td class="text-sm md:text-[14px] font-normal text-[#7A819B]"><span rel="nofollow" href="//https://www.missio.io/content/donation-pledge-management">https://www.missio.io/content/donation-pledge-management</span></td>
					<td class="text-sm md:text-[14px] text-[#7A819B]">2</td>
					<td class="text-sm md:text-[14px] volume-bar-wrapper min-w-[100px]">
						<div><span style="width: 0.7246376811594203%"></span></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>